
.vscode/settings.json
*.pyc
iOS-Specialization-Coursera/2-iOS-Basics/.DS_Store
iOS-Specialization-Coursera/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/Filterer_C3_Starting/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/Starter Code/.DS_Store
Coursera-Dotnet-Core/.DS_Store
.DS_Store
