
.vscode/settings.json
*.pyc
iOS-Specialization-Coursera/2-iOS-Basics/.DS_Store
iOS-Specialization-Coursera/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/Filterer_C3_Starting/.DS_Store
iOS-Specialization-Coursera/3-iOS-App-Design/Starter Code/.DS_Store
Coursera-Dotnet-Core/.DS_Store
.DS_Store
Coursera-iOS/.DS_Store
Coursera-iOS/2-iOS-Basics/.DS_Store
Coursera-iOS/2-iOS-Basics/Filterer/Filterer.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/._AppDelegate.swift
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/._Filter.swift
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/._ViewController.swift
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/Base.lproj/._Main.storyboard
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/._ViewController.swift
Coursera-iOS/2-iOS-Basics/Filterer/Filterer/._ViewController.swift
Coursera-iOS/4-Capstone-iOS-App/Final_App_Demo.mov
Coursera-iOS/4-Capstone-iOS-App/Final_App_Demo.mp4
Coursera-iOS/3-iOS-App-Design/JokeGeneratorUIKit/JokeGeneratorUIKit.xcodeproj/project.xcworkspace/xcuserdata/ibrahim.xcuserdatad/UserInterfaceState.xcuserstate
Coursera-iOS/3-iOS-App-Design/JokeGeneratorUIKit.zip
Coursera-Algorithmic-Toolbox
Coursera-Data-Analysis-Python
Coursera-Deep-Learning
Coursera-iOS/4-Capstone-iOS-App/Peer-Check-In-Prototype.mp4
Coursera-iOS/4-Capstone-iOS-App/Peer-Check-In-Prototype.mp4-20240224T193615Z-001.zip
